<h1><%= @facade.single_vendor.name %></h1>


<h3>Contact Info:</h3>
<p>Name: <%= @facade.single_vendor.contact_name %></p>
<p>Phone: <%= @facade.single_vendor.contact_phone %></p>

<p>Credit Accepted?: <%= @facade.single_vendor.credit_accepted %></p>

<p>Description: <%= @facade.single_vendor.description %></p>

